#divList
{
  display: grid;
  width: 100px;
  grid-template-columns: repeat(2, 50px);
  border: 1px solid black;
}

div
{
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
}

.red
{
  background-color: red;
}
